include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include rowad_quality *.css
recursive-include rowad_quality *.csv
recursive-include rowad_quality *.html
recursive-include rowad_quality *.ico
recursive-include rowad_quality *.js
recursive-include rowad_quality *.json
recursive-include rowad_quality *.md
recursive-include rowad_quality *.png
recursive-include rowad_quality *.py
recursive-include rowad_quality *.svg
recursive-include rowad_quality *.txt
recursive-exclude rowad_quality *.pyc